* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*tamanho da caixa caixavai ser a partir da */
}

body {
  background-color: #121214;
  background-image: var(--background-color-screen);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

#app {
  /*encaixe o conteudo*/
  width: fit-content;
  margin: auto;
  padding-top: 52px;
}

header {
  margin-bottom: 63px;
  text-align: center;
}

body * {
  font-family: "Roboto", sans-serif;
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  padding: 32px 23px;
  text-align: center;
  background: var(--card-color-background);
  border-bottom: 2px solid var(--card-color-primary);
  border-radius: 6px;
}

/*seleciona a raiz do html*/
:root {
  --card-color-border: #74671f;
  --card-color-primary: #f7dd43;
  --card-color-background: #9b8e6d;
  --background-color-screen: url(./assets/background-yellow.svg);
}

body.blue {
  --card-color-border: #338af3;
  --card-color-primary: #338af3;
  --card-color-background: #3e6772;
  --background-color-screen: url(./assets/background-blue.svg);
}

body.green {
  --card-color-border: #07f82f;
  --card-color-primary: #07f82f;
  --card-color-background: #7da084;
  --background-color-screen: url(./assets/background-green.svg);
}

ul {
  list-style: none;
}

.card h2 {
  display: flex;
  gap: 16px; /*entre um elemento e outro*/
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid var(--card-color-border);
  border-radius: 6px;
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;
  color: #f7dd43;
}

.card h2 span {
  color: #e1e1e6;
  font-size: 14px;
  text-transform: uppercase; /*letra tudo maiuscula*/
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 270px;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul li + li {
  padding-top: 24px;
  border-top: 1px solid #323238;
}

.card ul strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%; /*altura da linha*/
  color: #e1e1e6;
}

.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover {
  transform: scale(1.1);
}
.card h2,
.card ul li strong,
.card ul li img {
  transition: transform 0.3s;
}

.card {
  animation: aparecer 0.2s forwards;
}
/*adicionando animação*/
@keyframes aparecer {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*responsividade, se a largura minima for de 700px para cima aplique as configurações abaixo*/
@media (min-width: 700px) {
  #cards {
    max-width: 670px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
